<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <form action="/">
            <p>Your Name: @ViewBag.name</p>
            <p>Location: @ViewBag.location</p>
            <p>Favorite Language: @ViewBag.language</p>
            <p>Comment: @ViewBag.comment</p>
            <input type="submit" value="Back">
        </form>
    </body>
</html>